<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Admin dashboard</title>
</head>
<body>
    <p>Welcome {{ username }}!</p>
    <p>Available actions:</p>
    <li>
        <form name="logoutForm" action="/admin/logout" method="post"> 
        <input type="submit" value="Logout"></form>
        </li> 
    <ol> <li><a href="/admin/password">Change password</a></li></ol>
</body>
</html>