<!DOCTYPE html>
 <html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"><title>Change Password</title>
    </head>
    <body>
        {% for msg_html in flash_messages.iter() %}
        <p><i>{{ msg_html.content() }}</i></p>
        {% endfor %}
        <form action="/admin/password" method="POST">
            <label>
                Current Password<input type="password" placeholder="Enter current password" name="current_password">
            </label>
            <br>
            <label>
                New Password<input type="password" placeholder="Enter new password" name="new_password">
            </label>
            <br>
            <label>
                Confirm new Password<input type="password" placeholder="Type the new password" name="new_password_check">
            </label>
            <br>
            <button type="submit">Change password</button>
        </form>
        <p><a href="/admin/dashboard">&lt; - Back</a></p>
    </body>
</html>
